<div class="row animated slideInDown" [class.backgroundNight]="!state" [class.backgroundDay]="state"
  style="min-height: 75vh">
  <div class="col-12 mx-auto " *ngIf="tutorials">
    <h3>Favorites <i class="fas fa-star star"></i></h3>
    <ul>
      <li *ngFor="let tutorial of tutorials | async; let i = index">
        {{tutorial.name}}
        <a (click)="delTutorial(i)"> <i class="fas fa-trash-alt mx-2 delBtn"></i></a>
        <a href="" routerLink="/home/{{ tutorial.name }}" routerLinkActive="router-link-active"><i
            class="fas fa-eye delBtn"></i></a>
        <div *ngFor="let weather of tutorial.data; let i = index">
          <div class="shadow col-5  picCard d-flex  mt-1 rounded" [class.blackFont]="!state"
            [class.backgroundDay]="state">
            <img class="imagePlace mr-5 my-auto" *ngIf="state" style="width: 60px; height: 40px"
              src="assets/images/{{weather.Day['Icon']}}-s.png">
            <img class="imagePlace mr-5 my-auto" *ngIf="!state" style="width: 60px; height: 40px"
              src="assets/images/{{weather.Night['Icon']}}-s.png">
            <div>
              <span class=""> {{tutorial.name}} {{weather.Date | date}}</span>
              <h6 *ngIf="state" class="p-0 m-0 mb-1">Day:
                {{weather.Temperature['Minimum'].Value}}{{weather.Temperature['Minimum'].Unit}}
                {{weather.Day['IconPhrase']}}
              </h6>
              <h6 *ngIf="!state" class="p-0 m-0 mb-1">Night:
                {{weather.Temperature['Maximum'].Value}}{{weather.Temperature['Minimum'].Unit}}
                {{weather.Night['IconPhrase']}}
              </h6>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>