.buttn:hover{
  cursor: pointer;
  color:#ffc107;
}
.star{
  color: gold;
}
.delBtn{
  color: grey;
}
.cityName{
  color:grey;
}
.picCard{
  transition: 0.5s ease;
  position: relative;
  z-index: 1;
}
.picCard:hover{
  transform: scale(1.1);
  z-index: 111;
}
.imagePlace{
  transition: 0.5s ease;
  position: relative;
  z-index: 1;
}

.buttn:hover{
  cursor: pointer;
  color:#ffc107;
}
.btns{
  display: none;
}
/* .picCard:hover .imagePlace{
  transform: scale(2);
  z-index: 111;
} */
.picCard:hover .btns{
  display: block;
}
.backgroundDay{
  background-color: #F0F8FF;
}
.backgroundNight{
  background-color: darkgrey;
}
.blackFont{
  background-color: rgb(14, 14, 14);
  color: white;
}
.darkFont{
  color: white;
}
.fontThemeNight{
  background-image: url('https://media1.tenor.com/images/e902f80ed5537f28fb32e520f8756503/tenor.gif?itemid=8167441');
  background-size: 100% 100%;
}
.fontThemeDay{
  background-image: url('https://thumbs.gfycat.com/ConstantLinedGazelle-size_restricted.gif');
  background-size: 100% 100%;
}
.textStyleNight{
  color: black;
}
.textStyleDay{
  color: white;
}
